# FastAPI and Web
fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Machine Learning
deepface
tensorflow
opencv-python
numpy
pandas
scikit-learn
joblib
tensorflow-hub

# External APIs
spotipy
requests

# Database
sqlalchemy
alembic
psycopg2-binary

# Authentication
python-dotenv

# Sentiment Analysis
textblob

# Development and Testing
pytest
httpx